NET "ONBOARD_CLOCK" TNM_NET = onboard_clock;
NET "PCLK" TNM_NET = pclk;
TIMESPEC TS_onboard_clock = PERIOD "onboard_clock" 32 ns HIGH 50%;
TIMESPEC TS_pclk = PERIOD "pclk" 30 ns HIGH 50%;

#ONBOARD 32MHZ CLOCK
NET "ONBOARD_CLOCK"  LOC = "Y11" | IOSTANDARD = LVTTL ;
#PCI INTERFACE
NET "AD<0>"       LOC = "V4"  | IOSTANDARD = PCI33_3 ;
NET "AD<1>"       LOC = "V3"  | IOSTANDARD = PCI33_3 ;
NET "AD<2>"       LOC = "V2"  | IOSTANDARD = PCI33_3 ;
NET "AD<3>"       LOC = "V1"  | IOSTANDARD = PCI33_3 ;
NET "AD<4>"       LOC = "T6"  | IOSTANDARD = PCI33_3 ;
NET "AD<5>"       LOC = "T5"  | IOSTANDARD = PCI33_3 ;
NET "AD<6>"       LOC = "U4"  | IOSTANDARD = PCI33_3 ;
NET "AD<7>"       LOC = "T4"  | IOSTANDARD = PCI33_3 ;
NET "AD<8>"       LOC = "U3"  | IOSTANDARD = PCI33_3 ;
NET "AD<9>"       LOC = "U2"  | IOSTANDARD = PCI33_3 ;
NET "AD<10>"      LOC = "T2"  | IOSTANDARD = PCI33_3 ;
NET "AD<11>"      LOC = "T1"  | IOSTANDARD = PCI33_3 ;
NET "AD<12>"      LOC = "K1"  | IOSTANDARD = PCI33_3 ;
NET "AD<13>"      LOC = "K2"  | IOSTANDARD = PCI33_3 ;
NET "AD<14>"      LOC = "K3"  | IOSTANDARD = PCI33_3 ;
NET "AD<15>"      LOC = "K4"  | IOSTANDARD = PCI33_3 ;
NET "AD<16>"      LOC = "G1"  | IOSTANDARD = PCI33_3 ;
NET "AD<17>"      LOC = "G2"  | IOSTANDARD = PCI33_3 ;
NET "AD<18>"      LOC = "H5"  | IOSTANDARD = PCI33_3 ;
NET "AD<19>"      LOC = "G5"  | IOSTANDARD = PCI33_3 ;
NET "AD<20>"      LOC = "F2"  | IOSTANDARD = PCI33_3 ;
NET "AD<21>"      LOC = "F3"  | IOSTANDARD = PCI33_3 ;
NET "AD<22>"      LOC = "G6"  | IOSTANDARD = PCI33_3 ;
NET "AD<23>"      LOC = "F5"  | IOSTANDARD = PCI33_3 ;
NET "AD<24>"      LOC = "E1"  | IOSTANDARD = PCI33_3 ;
NET "AD<25>"      LOC = "E2"  | IOSTANDARD = PCI33_3 ;
NET "AD<26>"      LOC = "F4"  | IOSTANDARD = PCI33_3 ;
NET "AD<27>"      LOC = "E3"  | IOSTANDARD = PCI33_3 ;
NET "AD<28>"      LOC = "D3"  | IOSTANDARD = PCI33_3 ;
NET "AD<29>"      LOC = "D2"  | IOSTANDARD = PCI33_3 ;
NET "AD<30>"      LOC = "E4"  | IOSTANDARD = PCI33_3 ;
NET "AD<31>"      LOC = "D4"  | IOSTANDARD = PCI33_3 ;
NET "CBE_N<0>"    LOC = "N2"  | IOSTANDARD = PCI33_3 ;
NET "CBE_N<1>"    LOC = "N1"  | IOSTANDARD = PCI33_3 ;
NET "CBE_N<2>"    LOC = "M6"  | IOSTANDARD = PCI33_3 ;
NET "CBE_N<3>"    LOC = "M5"  | IOSTANDARD = PCI33_3 ;
NET "DEVSEL_N"    LOC = "L4"  | IOSTANDARD = PCI33_3 ;
NET "FRAME_N"     LOC = "M2"  | IOSTANDARD = PCI33_3 ;
NET "GNT_N"       LOC = "L3"  | IOSTANDARD = PCI33_3 ;
NET "IDSEL"       LOC = "L5"  | IOSTANDARD = PCI33_3 ;
NET "INTA_N"      LOC = "M3"  | IOSTANDARD = PCI33_3 ;
NET "IRDY_N"      LOC = "L1"  | IOSTANDARD = PCI33_3 ;
NET "PAR"         LOC = "N4"  | IOSTANDARD = PCI33_3 ;
NET "PCLK"        LOC = "B11" | IOSTANDARD = PCI33_3 ;
NET "PERR_N"      LOC = "N3"  | IOSTANDARD = PCI33_3 ;
NET "REQ_N"       LOC = "L6"  | IOSTANDARD = PCI33_3 ;
NET "RST_N"       LOC = "D1"  | IOSTANDARD = PCI33_3 ;
NET "SERR_N"      LOC = "M4"  | IOSTANDARD = PCI33_3 ;
NET "STOP_N"      LOC = "L2"  | IOSTANDARD = PCI33_3 ;
NET "TRDY_N"      LOC = "M1"  | IOSTANDARD = PCI33_3 ;
#
#CAN TRANCEIVERS
NET "CAN1_TX"  LOC = "Y5"  | IOSTANDARD = LVTTL ;
NET "CAN2_TX"  LOC = "Y1"  | IOSTANDARD = LVTTL ;
NET "CAN1_RX"  LOC = "V10" | IOSTANDARD = LVTTL ;
NET "CAN2_RX"  LOC = "W2"  | IOSTANDARD = LVTTL ;
#
#2X40 CONNECTOR
NET "SV1<9>"   LOC = "D19"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV1<7>"   LOC = "D20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV1<5>"   LOC = "E19"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV1<3>"   LOC = "E20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV2<9>"   LOC = "E18"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV2<7>"   LOC = "F20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV2<5>"   LOC = "F18"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV2<3>"   LOC = "G17"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV3<9>"   LOC = "G18"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV3<7>"   LOC = "G19"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV3<5>"   LOC = "K20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV3<4>"   LOC = "L20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV4<9>"   LOC = "L19"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV4<7>"   LOC = "L18"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV4<5>"   LOC = "M19"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV4<4>"   LOC = "N20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV5<9>"   LOC = "M20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV5<7>"   LOC = "M18"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV5<5>"   LOC = "V21"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV5<4>"   LOC = "R18"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV6<9>"   LOC = "T18"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV6<7>"   LOC = "U19"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV6<5>"   LOC = "V19"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV6<4>"   LOC = "V20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV7<9>"   LOC = "Y12"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV7<7>"   LOC = "W20"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV7<5>"   LOC = "AB18" | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV7<4>"   LOC = "AA17" | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV8<9>"   LOC = "W17"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV8<7>"   LOC = "W16"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV8<5>"   LOC = "V16"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV8<4>"   LOC = "T17"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV9<9>"   LOC = "AB14" | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV9<7>"   LOC = "W14"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV9<5>"   LOC = "AA13" | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "SV9<4>"   LOC = "Y13"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
NET "LED_RUN"  LOC = "U13"  | DRIVE = 12 | IOSTANDARD = LVTTL ;
#ROWA
NET "SV1<10>"  LOC = "C22"  | IOSTANDARD = LVTTL ;
NET "SV1<8>"   LOC = "D21"  | IOSTANDARD = LVTTL ;
NET "SV1<6>"   LOC = "E21"  | IOSTANDARD = LVTTL ;
NET "SV1<4>"   LOC = "E22"  | IOSTANDARD = LVTTL ;
NET "SV2<10>"  LOC = "F21"  | IOSTANDARD = LVTTL ;
NET "SV2<8>"   LOC = "G21"  | IOSTANDARD = LVTTL ;
NET "SV2<6>"   LOC = "G22"  | IOSTANDARD = LVTTL ;
NET "SV2<4>"   LOC = "K21"  | IOSTANDARD = LVTTL ;
NET "SV3<10>"  LOC = "K22"  | IOSTANDARD = LVTTL ;
NET "SV3<8>"   LOC = "L17"  | IOSTANDARD = LVTTL ;
NET "SV3<6>"   LOC = "L21"  | IOSTANDARD = LVTTL ;
NET "SV3<4>"   LOC = "M21"  | IOSTANDARD = LVTTL ;
NET "SV4<10>"  LOC = "N22"  | IOSTANDARD = LVTTL ;
NET "SV4<8>"   LOC = "N21"  | IOSTANDARD = LVTTL ;
NET "SV4<6>"   LOC = "T22"  | IOSTANDARD = LVTTL ;
NET "SV4<4>"   LOC = "T21"  | IOSTANDARD = LVTTL ;
NET "SV5<10>"  LOC = "U21"  | IOSTANDARD = LVTTL ;
NET "SV5<8>"   LOC = "M17"  | IOSTANDARD = LVTTL ;
NET "SV5<6>"   LOC = "V22"  | IOSTANDARD = LVTTL ;
NET "SV5<4>"   LOC = "W21"  | IOSTANDARD = LVTTL ;
NET "SV6<10>"  LOC = "W22"  | IOSTANDARD = LVTTL ;
NET "SV6<8>"   LOC = "Y22"  | IOSTANDARD = LVTTL ;
NET "SV6<6>"   LOC = "Y21"  | IOSTANDARD = LVTTL ;
NET "SV6<4>"   LOC = "U18"  | IOSTANDARD = LVTTL ;
NET "SV7<10>"  LOC = "AA18" | IOSTANDARD = LVTTL ;
NET "SV7<8>"   LOC = "Y18"  | IOSTANDARD = LVTTL ;
NET "SV7<6>"   LOC = "Y17"  | IOSTANDARD = LVTTL ;
NET "SV7<4>"   LOC = "V17"  | IOSTANDARD = LVTTL ;
NET "SV8<10>"  LOC = "U17"  | IOSTANDARD = LVTTL ;
NET "SV8<8>"   LOC = "U16"  | IOSTANDARD = LVTTL ;
NET "SV8<6>"   LOC = "AA15" | IOSTANDARD = LVTTL ;
NET "SV8<4>"   LOC = "AB15" | IOSTANDARD = LVTTL ;
NET "SV9<10>"  LOC = "U14"  | IOSTANDARD = LVTTL ;
NET "SV9<8>"   LOC = "V14"  | IOSTANDARD = LVTTL ;
NET "SV9<6>"   LOC = "W13"  | IOSTANDARD = LVTTL ;
NET "SV9<4>"   LOC = "V12"  | IOSTANDARD = LVTTL ;
NET "LED_CONF" LOC = "U12"  | IOSTANDARD = LVTTL ;
#
#JTAG DRIVE
#NET "TDI"  LOC = "C1"  | IOSTANDARD = LVTTL ;
#NET "TMS"  LOC = "C3"  | IOSTANDARD = LVTTL ;
#NET "TCK"  LOC = "C2"  | IOSTANDARD = LVTTL ;
#NET "TDO"  LOC = "C21" | IOSTANDARD = LVTTL ;   #B22

